// global variables
$wrapper-width-des: 90%;
$paragraph-color: #6f6f6f;
$h2-color: #222222;

// navigate variables
$nav-background: #ebebeb;
$nav-border: 1px solid #e6e6e6;
$nav-text: #30ba15;
$nav-text-hover: #222222;
$nav-container-1200: 1140px; 
$nav-height: 79px;

// about us variables
$arrow-icon-bg: #30ba15;
$about-paragraph-color: #f3f3f3;
